CONFIG_MY_WIFI_SSID="Galaxy A02s85f5"
CONFIG_MY_WIFI_PASS="fodv4762"
CONFIG_MY_MQTT_PROTOCOL_V5=y
CONFIG_MY_MQTT_BROKER_URI="mqtt://192.168.43.150:1883"
CONFIG_MY_MQTT_USERNAME="admin"
CONFIG_MY_MQTT_PASSWORD="dalisan19780"
CONFIG_MY_DEVICE_NAME="esp1"